#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-image:   linear-gradient(180deg, #8bd4f1 20%, #a07d69 50%); 

}
 

body {
  margin: 0;
}
 
/* #root {
  width: 100vw;
  height: 100vh;
  /* background-color: #68dddd; 
} */